<div class="container col-xxl-8 px-4 py-5 respon" >
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/team2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>

      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Mission and Values:</h1>
        <p class="lead">At Team Developers, our mission is to empower businesses and individuals through innovative website solutions.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="#contact">Contact us</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">View Projects</button>
        </div>
      </div>
    </div>
  </div>

  <!--About-->
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4 border" src="/images/logo.png" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Our core values are:</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Innovation Customer-Centricity Quality User-Centered Design Creativity Data Security Responsiveness</p>
      
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Read More</button>
        
      </div>
    </div>
  </div>


