<%- include("partials/header"); -%>

<main>

    <div id="myCarousel" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">

            <svg class="bd-placeholder-img d-flex align-items-center justify-content-center" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                <!-- image here -->
                <image xlink:href="/images/team2.jpg" class="d-block d-sm-block w-100 mw-100 mh-100"  />
              </svg>
              
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Team Developers</h1>
              <p class="opacity-75">Turn Your Online Vision into a Reality.</p>
              <p><a class="btn btn-lg btn-primary" href="#contact">Get in Touch</a></p>
            </div>
          </div>
        </div>
        <!--Second pic -->
        <div class="carousel-item">

            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                <!-- image here -->
                <image xlink:href="/images/team1.jpg" class="d-block d-sm-block w-100 h-auto cr-img" />
              </svg>

          <div class="container">
            <div class="carousel-caption">
              <h1>Meet Our Team.</h1>
              <p>Get to know the talented individuals who drive our success.</p>
              <p><a class="btn btn-lg btn-primary" href="members">Meet the Team</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">

            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                <!-- image here -->
                <image xlink:href="/images/team3.jpg" class="w-100 h-auto" />
              </svg>

          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Explore Our Portfolio of Projects</h1>
              <p>Discover a curated collection of our website design and development endeavors.</p>
              <p><a class="btn btn-lg btn-primary" href="projects">View Projects</a></p>
            </div>
          </div>
        </div>
      </div>
      
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
   
    <div id="about">
        <%- include ("about") %>   
    </div>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6528151921430039"
     crossorigin="anonymous"></script>

    <div id="contact">
        <%- include ("contact") %>   
    </div>

      
    </div>

  <%- include("partials/footer"); -%>