<%- include("partials/header"); -%>

 
<div class="px-4 py-5 my-5 text-center">
    <a href="/"><img class="d-block mx-auto mb-4" src="/images/logo.png" alt="" width="72" height="57"></a>
    <h1 class="display-5 fw-bold text-body-emphasis">Meet our Team</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Get to know the talented individuals who drive our success.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
       
        
      </div>
    </div>
  </div>

  
  <!--Members-->
  <section class="team">
    
    <div class="team-content">
        <div class="box">
            <img src="/images/strongadas.jpeg" width="60" height="70" >
            <h3>Strongadas</h3>
            <h5>Full Stack Developer</h5>
            <div class="icons">
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-facebook-box-fill"></i></a>
                <a href="https://instagram.com/strongadas009" target="_blank"><i class="ri-instagram-fill"></i></a>
            </div>
        </div>

        <div class="box">
            <img src="/images/feli.jpeg" width="60" height="70">
            <h3>Felisberto</h3>
            <h5>Back End Developer</h5>
            <div class="icons">
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-facebook-box-fill"></i></a>
                <a href="https://instagram.com/felisberto" target="_blank"><i class="ri-instagram-fill"></i></a>
            </div>
        </div>

        <div class="box" >
            <img src="/images/yanick.jpg" width="60" height="70">
            <h3>Yanick</h3>
            <h5>Full Stack Developer</h5>
            <div class="icons">
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-facebook-box-fill"></i></a>
                <a href="#"><i class="ri-instagram-fill"></i></a>
            </div>
        </div>

        <div class="box">
            <img src="/images/nelson.jpg " width="60" height="70">
            <h3>Nelson</h3>
            <h5>Front End Developer</h5>
            <div class="icons">
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-facebook-box-fill"></i></a>
                <a href="https://instagram.com/nelsonshawnme" target="_blank"><i class="ri-instagram-fill"></i></a>
            </div>
        </div>
        <div class="box" >
            <img src="/images/carlos.jpg" width="60" height="70">
            <h3>Carlos</h3>
            <h5>Front End Developer</h5>
            <div class="icons">
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-facebook-box-fill"></i></a>
                <a href="https://instagram.com/eucarlosbernardo?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><i class="ri-instagram-fill"></i></a>
            </div>
        </div>
        <div class="box" >
            <img src="/images/hermene.jpg" width="60" height="70">
            <h3>Hermene</h3>
            <h5>Back End Developer</h5>
            <div class="icons">
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-facebook-box-fill"></i></a>
                <a href="#"><i class="ri-instagram-fill"></i></a>
            </div>
        </div>
        
    </div>
</section>


<%- include("partials/footer"); -%>